/WebAppInicial/nbproject/private/
/WebAppInicial/build/
/WebAppInicial/dist/
/WebApplicationHTML/nbproject/private/
/WebApplicationHTML/build/
/Seguros/nbproject/private/
/Seguros/build/
/Seguros/dist/
/WebApplicationS/nbproject/private/
/WebApplicationServlets/nbproject/private/
/WebApplicationServlets/dist/
/WebApplicationServlets/build/
/WebApplicationColaboracion/nbproject/private/
/WebApplicationColaboracion/dist/
/WebApplicationColaboracion/build/
/Cinemas/nbproject/private/
/Cinemas/dist/
/Cinemas/build/
/LoginLogoutCookies/nbproject/private/
/LoginLogoutCookies/dist/
/LoginLogoutCookies/build/
/MarioUp/nbproject/private/
/MarioUp/build/
/MarioUp/dist/
/BulletproofForm/nbproject/private/
/BulletproofForm/build/
/BulletproofForm/dist/
/AjaxCD/nbproject/private/
/RealTime/nbproject/private/
/RealTime/dist/
/RealTime/build/
/WebApplicationJSON/nbproject/private/
/WebApplicationJSON/build/
/WebApplicationJSON/dist/
/ShowDetails/nbproject/private/
/ShowDetails/build/
/ShowDetails/dist/
/MyFirstWebService/nbproject/private/
/MyFirstWebService/dist/
/MyFirstWebService/build/
/ClienteJavaAppWS/nbproject/private/
/ClienteJavaAppWS/build/
/Cliente1Web/nbproject/private/
/Cliente1Web/build/
/CurrencyConvertor/nbproject/private/
/CurrencyConvertor/build/
/CurrencyConvertor/dist/
/Cliente1Web/dist/
/WebApplicationHttpSession/nbproject/private/
/HttpSession/nbproject/private/
/HttpSession/build/
/HttpSession/dist/
/DBBasics/nbproject/private/
/DBBasics/build/
/DBBasics/dist/
/DBScroll/nbproject/private/
/DBScroll/build/
/DBScroll/dist/
/DBScrollApp/nbproject/private/
/DBScrollApp/build/
/ProcesoLegacy/nbproject/private/
/ProcesoLegacy/build/
/ProcesoLegacy/dist/
/WebJS/nbproject/private/
/WebJS/build/
/WebJS/dist/
/JMSqueue/nbproject/private/
/JMSqueue/build/
/JMSqueue/dist/
/JMSTopic/nbproject/private/
/JMSTopic/build/
/JMSTopic/dist/
/PapaCaliente/nbproject/private/
/PapaCaliente/build/
/PapaCaliente/dist/
/SistemaFinanciero/nbproject/private/
/SistemaFinanciero/dist/
/SistemaFinanciero/build/